* {
    color: darkgreen;
    background-color: tan;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

img {
    border: 2px solid darkgreen;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

.recipe-list{
    list-style-type: none;
    padding: 0;
    margin: 10px;
    border: 2px solid darkgreen;
}